@shadow: 0 0 5px #EBEBEB;
@border:1px solid #E1E1E1;
@bordercolor:#E1E1E1;
@bgcolor:#F6F6F6;
//@bgcolor:rgba(91,91,91,0.65);
@minwidth:1200px;
@width:90%;
@sanjiaoxingwidth:14px;
@sanjiaoxingheight:18px;


//组件header的公共样式
//@headerbgcolor:#F6F6F6;
@headerbgcolor:rgba(91,91,91,0.65);
@headerheight:65px;
@headerlinkiconheight:32px;
//@headerdefaultlinkbgcolor:#FFEA00;
@headerdefaultlinkbgcolor:rgba(63,159,122,0.65);
//@headerdefaultlinkbgcolor:#A7F0DF;
//@headerdefaultlinkhoverbgcolor:#F4E000;
@headerdefaultlinkhoverbgcolor:rgba(255,154,20,0.99);
//@headerdefaultlinkhoverbgcolor:#36CDAA;
@headerbtnleft:20vw;
@headerbtntop:2vh;

//组件wrapContent的公共样式
//@wrapcontentbgcolor:#ccc;
@wrapcontentbgcolor:rgba(91,91,91,0.65);

//组件homeLeft的公共样式
@homeleftbg:#fff;
@routlinkcolor:#333;
@routlinkbg:#fff;
@routlinkhoverbg:#F6F6F6;

//组件homeLeft的公共样式
//@footerbgcolor:#F6F6F6;
@footerbgcolor:rgba(91,91,91,0.65);
//@footerheight:auto;
@footerheight:220px;

//左右两侧组件公共样式
@sidecommonbottom:8vh;
@sidecommontobody:2vw;


//自定义组件的公共样式
//music的公共样式
//=====暂用公共部分的吧
@musicbtncolor:#E1E1E1;
@musiclinecolor:#E1E1E1;
@musiclinebtncolor:green;
