@shadow: 0 0 5px #EBEBEB;
@border:1px solid #E1E1E1;
@bgcolor:#F6F6F6;
@minwidth:1200px;
@width:90%;

//组件header的公共样式
@headerheight:65px;
@headerlinkiconheight:32px;
//@headerdefaultlinkbgcolor:#FFEA00;
@headerdefaultlinkbgcolor:#A7F0DF;
//@headerdefaultlinkhoverbgcolor:#F4E000;
@headerdefaultlinkhoverbgcolor:#36CDAA;

//组件wrapContent的公共样式
@wrapcontentbgcolor:#ccc;
